.blockUI.blockMsg > img {
    margin-bottom: 30px;
    display: inline-block;
}

.blockUI.blockMsg > .loading-blockui{
    display: inline-block;
    font-size: 1.3em;
    text-align: left;
    margin: 20px 10px;
    font-weight: 700;
}

.error{
    color: #ff0000;
    margin-bottom: 0;
}

#add_veiculo_form{
    padding: 15px;
}

#cadastrar-vistoria{
    margin-top: 15px;
    margin-bottom: 0;
}

#success-process,
#danger-process{
    margin: 15px 0;
}

#add_veiculo_form .campo-modal,
#vistoria_veiculo_form .campo-modal {
    padding: 0 30px;
}

#vistoria_veiculo_form .select2-container{
    width: 100% !important;
}

.titulo_secao_vistoria{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.secao_vistoria{
    border-bottom: 1px solid #ccc;margin-bottom: 10px;
}