{% extends 'eleicao/equipe/base.html' %}
{% load static from staticfiles %}
{% block extrabreadcrumb %}
    {{ block.super }}
    <li>{{ equipe.nome|upper }}</li>
{% endblock %}

{% block container %}
    <ul class="nav nav-pills" role="tablist" id="myTab">
        <li class="active"><a href="#locais" role="tab" data-toggle="tab">Locais</a></li>
        {% comment %}<li><a href="#membros" role="tab" data-toggle="tab">Membros</a></li>{% endcomment %}
        <li><a href="#rotas" role="tab" data-toggle="tab">Rotas</a></li>
        <li><a href="#estimativa" role="tab" data-toggle="tab">Quantidade de veículos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active navbar" id="locais">
            {% include 'eleicao/equipe/detalhar_locais.html' %}
        </div>
        {% comment %}
	    <div class="tab-pane" id="membros">
	    teste
	    </div>
	    {% endcomment %}
        <div class="tab-pane" id="rotas">
            {% include 'eleicao/equipe/detalhar_rotas.html' %}
        </div>
        <div class="tab-pane" id="estimativa">
            {% include 'eleicao/equipe/detalhar_estimativa.html' %}
        </div>
    </div>
{% endblock %}

{%block extrascripts %}
    <script src="{% static 'eleicao/js/equipe/detalhar.js' %}"></script>
    <script>
        $(document).ready(function(){
            if(location.hash.length > 0){
                var selector = '#myTab a[href="' + location.hash + '"]';
                $(selector).tab('show');
            }
        });
    </script>
{% endblock %}
