{% extends 'base.html' %}
 {% load static from staticfiles %}
 
{% block container %}

<div class="row">
  <button type="button" class="btn btn-default botao"
  style="float:right" onclick="window.location = '{% url 'equipe:cadastrar' %}';">
  	Cadastrar Nova Equipe
  </button>
</div>
  <table class="table table-striped" id="tabela-eleicao">
  <thead>
  <tr>
    <th>Equipe</th>
    <th>Eleição</th>
    <th><th>
  </tr>
  </thead>
  <tbody>
  {% for equipe in equipes %}
  <tr>
    <td><a href="{{ equipe.get_absolute_url }}">{{ equipe.nome|upper }}</a></td>
    <td>{{ equipe.eleicao }}</td>
    <td>
	    <div class="btn-group btn-group-xs"  style="float:right;">
	        <a href="{% url 'equipe:editar' equipe.pk %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span>Editar</a>
	        <a href="javascript:void(0);" data-id="{{equipe.id}}" class="btn btn-danger btn-xs delete"><span class="glyphicon glyphicon-trash"></span>Excluir</a>
	    </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>


    
{% endblock %}

{%block extrascripts %}
	<script src="{% static 'eleicao/js/equipe/index.js' %}"></script>
	<script src="{% static 'eleicao/js/classes/Equipe.js' %}"></script>
{% endblock %}
