input.date {
	width: 100px;
}

.botao-grupo {
	width: 300%;
	padding-top: 15px;
	margin-top: 15px;
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: grey;
}

.cursor-pointer:HOVER {
	cursor: pointer;
}

.tooltip {
	display: none;
}

div.titulo {
	padding-bottom: 9px;
	margin: 20px 0px 20px;
	border-bottom: 1px solid #CCC;
}

div.titulo>h1 {
	color: grey;
}

/* para modal */

#janela-modal{
	display:none;
}

.tooltip-iniciar {
	cursor: pointer;
}
