input.date {
    width: 100px;
}

.botao-grupo {
    width: 300%;
    padding-top: 15px;
    margin-top: 15px;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: grey;
}

.linha1 > td{
    background-color: #F9F9F9;
}

.linha2  > td{
    background-color: #FFFFFF;
}

.cursor-pointer:HOVER{
	cursor: pointer;
}

.tooltip {
	display: none;
}

div.titulo {
	clear: both;
	margin-bottom:15px;
	border-bottom: solid;
	border-bottom-color: grey;
	
}

div.titulo > h1{
	color: grey;
}