{% extends "base.html" %}
{% block extrastyle %}
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

</style>
{% endblock %}
{%block navbar %}
<div class="header">
</div>

{% endblock %}
{% block div_titulo %}{% endblock %}

{% block container %}
        {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{form.non_field_errors}}
                </div>

        {% endif %}
    <form class="form-signin" role="form" method="post">{% csrf_token %}
        <h2 class="form-signin-heading" style="text-align:center">{{titulo}}</h2>
        {% for field in form %}
	        <div class="form-group{% if field.errors %} has-error{% endif %}">
	             {% if field.errors %}<label class="control-label" for="{{field.id_for_label}}">{{field.errors.as_text}}</label><br />{% endif %}
	            <label for="{{field.id_for_label}}">{{ field.label }}</label>
	                {{ field }}
	            <p class="help-block">{{ field.help_text }}</p>
	        </div>
	    
	    {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>
{% endblock %}