{% extends 'veiculos/vistoria/base.html' %}
{% load static from staticfiles %}
{% load dajaxice_templatetags %}

{% block extrabreadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'veiculo:vistoria:cadastrar' %}">Efetuar Vistoria</a></li>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles_select2/select2/select2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'veiculos/css/select2-bootstrap3.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'veiculos/css/vistoria.min.css' %}" />
{% endblock %}
 
{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Efetuar vistoria de veículo
                <span class="pull-right">
                    <label for="turno">Turno:</label>
                    <select id="turno" class="form-control" style="display: inline-block; width: auto; height: 25px; padding: 0;">
                        <option value="0" {% if not segundo_turno %}selected="selected"{% endif %}>1°</option>
                        <option value="1" {% if segundo_turno %}selected="selected"{% endif %}>2°</option>
                    </select>
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div id="consultar-veiculo" style="width: 30%;">
                <label for="placa-veiculo">Placa:</label>
                <div class="input-group">
                    <input id="placa-veiculo" type="text" class="form-control placa" placeholder="Digite a placa do veículo"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" onclick="buscar_placa($('#placa-veiculo').val())"><span class="glyphicon glyphicon-search"></span>&nbsp;Consultar</button>
                    </span>
                </div>
                <p id="error-field-busca-placa" class="error" style="display: none"></p>
            </div>

            <div id="message-status" style="display: none"></div>

            <div id="error-process" class="alert alert-danger alert-dismissible" role="alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <p>teste</p>
            </div>

            <div id="cadastrar-vistoria" class="panel panel-default" style="display: none">
                <div class="panel-heading">
                    <h3 class="panel-title">Preencha abaixo os dados da vistoria</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_modals %}
    {{ block.super }}
    <div class="modal fade" id="modal-novo-veiculo" tabindex="-1" role="dialog" aria-labelledby="modal-novo-veiculo-title" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-novo-veiculo-title">Atenção</h4>
                </div>
                <div class="modal-body">
                    <p id="novo-veiculo-txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="nova_busca($('#modal-novo-veiculo'))">Buscar outro veículo</button>
                    <button type="button" class="btn btn-primary" onclick="add_veiculo({})">Adicionar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modal-add-veiculo" role="dialog" aria-labelledby="modal-add-veiculo-title" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-add-veiculo-title">Adicionar Novo Veículo</h4>
                </div>
                <div class="modal-body">
                    <p id="add-veiculo-txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="add_veiculo($('#add_veiculo_form').serialize(true))">Salvar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modal-requisitar-veiculo" tabindex="-1" role="dialog" aria-labelledby="modal-requisitar-veiculo-title" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-requisitar-veiculo-title">Veículo não requisitado</h4>
                </div>
                <div class="modal-body">
                    <p id="requisitar-veiculo-txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" onclick="requisitar_veiculo()">Sim</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modal-requisitar-motorista" tabindex="-1" role="dialog" aria-labelledby="modal-requisitar-motorista-title" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-requisitar-motorista-title">Motorista vinculado a veículo</h4>
                </div>
                <div class="modal-body">
                    <p id="requisitar-motorista-txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" onclick="outro_motorista();">Não</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Sim</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modal-veiculo-alocado" tabindex="-1" role="dialog" aria-labelledby="modal-veiculo-alocado-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-veiculo-alocado-title">Veículo já alocado!</h4>
                </div>
                <div class="modal-body">
                    <p id="veiculo-alocado-txt"></p>
                    <input id="id_veiculo_alocado" type="hidden">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="nova_busca($('#modal-veiculo-alocado'))">Buscar outro veículo</button>
                    <button type="button" class="btn btn-primary" onclick="desalocar_veiculo()" data-dismiss="modal">Desalocar veículo</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{%block extrascripts %}
    {% dajaxice_js_import %}
    <script src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <script src="{% static 'veiculos/js/classes/Veiculo.js' %}"></script>
	<script src="{% static 'veiculos/js/veiculo/index.js' %}"></script>
	<script src="{% static 'veiculos/js/vistoria/jquery.blockUI.min.js' %}"></script>
	<script src="{% static 'veiculos/js/vistoria/vistoria-ui.min.js' %}"></script>
{% endblock %}
