{% extends 'base.html' %}
{% load static from staticfiles %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'zona_eleitoral/css/misc/modal/modal.css' %}" />
{% endblock %}
 
{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Vistorias efetuadas</h3>
        </div>
        <div class="panel-body">
            <form id="form-filtro" method="GET">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Total de veículos requisitados{% if id_orgao %} da secretaria{%endif%}: </strong>{{ total_requisitados }} <br />
                        <strong>Total de veículos listados: </strong>{{ filtro.qs.count }} <br />
                        <strong>Total de veículos com motorista: </strong>{{ total_com_motorista }} <br />
                        <strong>Total de veículos sem motorista: </strong>{{ total_sem_motorista }} <br />

                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="{{form.orgao.id_for_label}}">{{ form.orgao.label }}</label>
                            {{ form.orgao }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="{{form_pagina.num_por_pagina.id_for_label}}">{{ form_pagina.num_por_pagina.label }}</label>
                            {{ form_pagina.num_por_pagina }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <table class="table table-striped" id="tabela-veiculo">
                            <thead>
                                <tr>
                                    <th width="10%">Placa</th>
                                    <th width="33%">Veículo</th>
                                    <th width="6%">Ano</th>
                                    <th width="10%">Tipo</th>
                                    <th width="6%">Estado</th>
                                    <th width="10%">Motorista</th>
                                    <th width="25%">Órgão Público</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for veiculo in veiculos %}
                                <tr>

                                    <td>
                                        {% if veiculo.veiculo_selecionado %}<b>{% endif %}

                                        <a href="#" onclick="abrirModal('{% url 'veiculo:detalhar' veiculo.pk %}');">{{veiculo.placa|upper }}</a>
                                        {% if veiculo.veiculo_selecionado %}</b>{% endif %}
                                    </td>
                                    <td>
                                        {% if veiculo.veiculo_selecionado %}<b>{% endif %}
                                        {{veiculo.veiculo_with_popover|safe}}
                                        {% if veiculo.veiculo_selecionado %}</b>{% endif %}
                                    </td>
                                    <td>
                                        {% if veiculo.veiculo_selecionado %}<b>{% endif %}
                                        {{veiculo.get_ano}}
                                        {% if veiculo.veiculo_selecionado %}</b>{% endif %}
                                    </td>
                                    <td>
                                        {% if veiculo.veiculo_selecionado %}<b>{% endif %}
                                        {{veiculo.get_tipo}}
                                        {% if veiculo.veiculo_selecionado %}</b>{% endif %}
                                    </td>
                                    <td>
                                        {% if veiculo.veiculo_selecionado %}<b>{% endif %}
                                        {{veiculo.get_estado}}
                                        {% if veiculo.veiculo_selecionado %}</b>{% endif %}
                                    </td>
                                    <td class="text-center"><span class="glyphicon
                                       glyphicon-{% if veiculo.motorista_titulo_eleitoral  %}ok color-green{% else %}remove color-red{% endif %}"></span>
                                    </td>
                                    <td>
                                        {% if veiculo.veiculo_selecionado %}<b>{% endif %}
                                        {{veiculo.orgao}}
                                        {% if veiculo.veiculo_selecionado %}</b>{% endif %}
                                    </td>

                                    <td>
                                       <div class="btn-group btn-group-xs"  style="float:right;">
                                       {% if veiculo.veiculo_selecionado %}
                                       <a data-id="{{veiculo.pk}}" href="javascript:void(0);"
                                        class="btn btn-danger btn-xs bt-liberar">
                                            <span class="glyphicon glyphicon-check"></span>
                                            Liberar
                                        </a>
                                       {% else %}
                                        <a data-id="{{veiculo.pk}}" href="javascript:void(0);"
                                        class="btn btn-primary btn-xs bt-requisitar">
                                            <span class="glyphicon glyphicon-check"></span>
                                            Requisitar
                                        </a>
                                        {% endif %}
                                    </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <ul class="pager">
                        {% if veiculos.has_previous %}
                            <li class="previous"><a href="javascript:void(0);">&larr; Anterior</a></li>
                        {% endif %}
                            <li>
                                Página <input type="number" value="{{veiculos.number}}"
                                    style="width:40px;" min="1" max="{{veiculos.paginator.num_pages}}"
                                    name="pagina" id="pagina"
                                    onchange="form.submit();"/> de {{veiculos.paginator.num_pages}}
                            </li>
                        {% if veiculos.has_next %}
                            <li class="next"><a href="javascript:void(0);">Próxima &rarr;</a></li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-2 col-filtro">
                        <h3>Filtrar por:</h3>

                        <div class="form-group">
                        {% for field in filtro.form %}
                            <label for="{{field.id_for_label}}">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{%block extrascripts %}
    <script src="{% static 'veiculos/js/classes/Veiculo.js' %}"></script>
	<script src="{% static 'veiculos/js/veiculo/index.js' %}"></script>
{% endblock %}
