{% extends 'veiculos/vistoria/base.html' %}
{% load static from staticfiles %}

{% block extrabreadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'veiculo:vistoria:listar' %}">Veículos Vistoriados</a></li>
{% endblock %}


{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Vistorias efetuadas</h3>
        </div>
        <div class="panel-body">
            <form id="form-filtro" method="GET">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Total de veículos alocados: </strong>{{ veiculos.object_list.count }} <br />
                        <strong>Total de veículos com motorista: </strong>{{ total_com_motorista }} <br />
                        <strong>Total de veículos sem motorista: </strong>{{ total_sem_motorista }} <br />

                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="{{form.equipe.id_for_label}}">{{ form.equipe.label }}</label>
                            {{ form.equipe }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="{{form_pagina.num_por_pagina.id_for_label}}">{{ form_pagina.num_por_pagina.label }}</label>
                            {{ form_pagina.num_por_pagina }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped" id="tabela-veiculo">
                            <thead>
                            <tr>
                                <th width="8%">Placa</th>
                                <th width="20%">Veículo</th>
                                <th width="20%">Motorista</th>
                                <th width="10%">Equipe</th>
                                <th width="15%">Perfil</th>
                                <th width="19%">Local</th>
                                <th width="8%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for veiculo in veiculos %}
                                <tr>

                                    <td>


                                        <a href="#" onclick="abrirModal('{% url 'veiculo:detalhar' veiculo.veiculo.pk %}');">{{veiculo.veiculo.placa|upper }}</a>

                                    </td>
                                    <td>

                                        {{veiculo.veiculo.veiculo_with_popover|safe}}
                                    </td>
                                    <td>

                                        {%  firstof veiculo.veiculo.motorista_veiculo.first.pessoa.nome.upper 'SEM MOTORISTA' %}

                                    </td>
                                    <td>

                                        {{veiculo.equipe}}

                                    </td>
                                    <td>

                                        {{veiculo.perfil}}

                                    </td>
                                    <td>
                                        {% firstof veiculo.local_votacao 'VEICULO DE APOIO' %}
                                    </td>
                                    <td vertical-align="middle">

                                        <div class="btn-group btn-group-xs"  style="float:right;">
                                            <a href="{% url 'report-veiculos:veiculo-alocado' veiculo.pk %}"
                                               class="btn btn-default btn-xs bt-liberar" target="_blank">
                                                <span class="glyphicon glyphicon-print"></span>

                                            </a>
                                            <a data-id="{{veiculo.pk}}" href="javascript:void(0);"
                                               class="btn btn-danger btn-xs bt-desalocar">
                                                <span class="glyphicon glyphicon-log-out"></span>

                                            </a>
                                        </div>

                                    </td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <ul class="pager">
                            {% if veiculos.has_previous %}
                                <li class="previous"><a href="?pagina={{ veiculos.previous_page_number }}&num_por_pagina={{ form_pagina.num_por_pagina.value }}">&larr; Anterior</a></li>
                            {% endif %}
                            <li>
                                Página <input type="number" value="{{veiculos.number}}"
                                              style="width:40px;" min="1" max="{{veiculos.paginator.num_pages}}"
                                              name="pagina" id="pagina"
                                              onchange="form.submit();"/> de {{veiculos.paginator.num_pages}}
                            </li>
                            {% if veiculos.has_next %}
                                <li class="next"><a href="?pagina={{ veiculos.next_page_number }}&num_por_pagina={{ form_pagina.num_por_pagina.value }}">Próxima &rarr;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {#                    <div class="col-md-2 col-filtro">#}
                    {#                        <h3>Filtrar por:</h3>#}
                    {##}
                    {#                        <div class="form-group">#}
                    {#                        {% for field in filtro.form %}#}
                    {#                            <label for="{{field.id_for_label}}">{{ field.label }}</label>#}
                    {#                            {{ field }}#}
                    {#                        {% endfor %}#}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{%block extrascripts %}
    <script src="{% static 'veiculos/js/classes/Veiculo.js' %}"></script>
    <script src="{% static 'veiculos/js/veiculo/index.js' %}"></script>
    <script>
    $(document).ready(function(){
        var veiculo = new Veiculo()
	    $('#id_equipe').change(function(){
	        var url;
	        if($(this).val()=='')
	            url = '{% url 'veiculo:vistoria:listar' %}';
	        else
	            url = '{% url 'veiculo:vistoria:listar' %}' + $(this).val() + '/';
	        $('#pagina').val(1);
	        location.href = url + '?' + $('#form-filtro').serialize();
	    });


	    $('.bt-requisitar').click(function(event){
	        $(this).confirmar({
	            message: "Você deseja requisitar este veículo?",
	            onConfirm: function() {
	                veiculo.setIdVeiculo($(this).data('id'));
	                veiculo.requisitarVeiculo();
	            }
	        })
	    });

        $('#id_num_por_pagina').change(function(){
            var url = '{% url 'veiculo:vistoria:listar' %}';
            if($('#id_equipe').val()!='')
                url = url + $('#id_equipe').val() + '/';
	        location.href = url + '?pagina='+{{ veiculos.number }}+'&num_por_pagina=' + $(this).val();
	    });

        $('.bt-desalocar').click(function(event){
	        $(this).confirmar({
	            message: "Você deseja desalocar este veículo?",
	            onConfirm: function() {
	                veiculo.setIdVeiculo($(this).data('id'));
	                //veiculoVeiculo();
	            }
	        })
	    });

    });

    </script>
{% endblock %}
