{% extends 'veiculos/vistoria/base.html' %}
{% load static from staticfiles %}
{% load dajaxice_templatetags %}

{% block extrabreadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'veiculo:vistoria:cadastrar' %}">Monitorar Vistoria</a></li>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'zona_eleitoral/css/misc/modal/modal.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'veiculos/css/botoes_menu.min.css' %}" />
    <style type="text/css">
        body{
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 20px">
                Andamento da Vistoria
                    <div class="pull-right" style="width: 410px;display: inline-block; font-size: 15px">
                        Como realizar a leitura:
                        <div class="progress" style="margin: 0;width: 150px;display: inline-block;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                Alocado
                            </div>
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="color: #009701; width: 60%">
                                Restante
                            </div>
                        </div>
                        <span class="pull-right">
                            <label for="turno">Turno:</label>
                            <select id="turno" class="form-control" style="display: inline-block; width: auto; height: 25px; padding: 0;" onchange="transition()">
                                <option value="0" {% if not segundo_turno %}selected="selected"{% endif %}>1°</option>
                                <option value="1" {% if segundo_turno %}selected="selected"{% endif %}>2°</option>
                            </select>
                        </span>
                    </div>
            </h3>
        </div>
        <div class="panel-body" style="padding: 0 15px">
            <div id="monitor-detalhe" class="row">
                {% include 'veiculos/vistoria/monitor-detalhe.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{%block extrascripts %}
    {% dajaxice_js_import %}
    <script src="{% static "dajax/jquery.dajax.core.js" %}"></script>
	<script>
        function transition() {
            var turno = false;
            if (parseInt($('#turno').val()) > 0)
                turno = true;
            Dajaxice.veiculos.recarregar_monitoramento(Dajax.process, {'turno': turno});
        }
        $(document).ready(function(){

            setInterval(transition, 20000);
        });
	</script>
{% endblock %}
