{% load static from staticfiles %}
<div style="border-bottom: 1px solid #ccc; margin-bottom: 10px; font-size: 16px;">Detalhes do veículo</div>

<div id="dados-veiculo" style="border-bottom: 1px solid #ccc;margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-2">
            <label>Placa</label>
            <p class="form-control-static">{{ veiculo.placa|upper }}<p>
        </div>
        <div class="col-md-3">
            <label>Marca</label>
            <p class="form-control-static">{{ veiculo.marca|upper }}<p>
        </div>
        <div class="col-md-5">
            <label>Modelo</label>
            <p class="form-control-static">{{ veiculo.modelo|upper }}<p>
        </div>
        <div class="col-md-2">
            <label>Tipo de veículo</label>
            <p class="form-control-static">{{ veiculo.get_tipo|upper }}<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Estado do veículo</label>
            <p class="form-control-static">{{ veiculo.get_estado|upper }}<p>
        </div>
        <div class="col-md-2">
            <label>Ano de fabricação</label>
            <p class="form-control-static">{{ veiculo.ano|upper }}<p>
        </div>
        <div class="col-md-1">
            <label>Lotação</label>
            <p class="form-control-static">{{ veiculo.lotacao|upper }}<p>
        </div>
        <div class="col-md-7">
            <label>Órgão</label>
            <p class="form-control-static">{{ veiculo.orgao|upper }}<p>
        </div>
    </div>
</div>

<div style="border-bottom: 1px solid #ccc; margin-bottom: 10px; font-size: 16px">Dados da vistoria</div>

<form id="vistoria_veiculo_form" role="form" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 campo-modal" id="id-motorista-selector">
            <div class="form-group{% if form_motorista.motorista.errors %} has-error{% endif %}">
                <label for="{{form_motorista.motorista.id_for_label}}">
                    {{ form_motorista.motorista.label }}{% if form_motorista.motorista.field.required %}*{% endif %}
                </label>
                {% if form_motorista.motorista.is_hidden %}
                    <p class="form-control-static">{{ form_motorista.motorista.value|upper }}<p>
                {% endif %}
                <br>{{ form_motorista.motorista }}
                {% if not form_motorista.motorista.is_hidden %}
                    <p class="help-block">{{ form_motorista.motorista.help_text }}</p>
                {% endif %}
                {% if form_motorista.motorista.errors %}
                    <label class="control-label" for="{{form_motorista.motorista.id_for_label}}">
                        {{form_motorista.motorista.errors.as_text}}
                    </label><br />
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 campo-modal">
            <div class="form-group{% if form_motorista.titulo_eleitoral.errors %} has-error{% endif %}">
                <label for="{{form_motorista.titulo_eleitoral.id_for_label}}">
                    {{ form_motorista.titulo_eleitoral.label }}{% if form_motorista.titulo_eleitoral.field.required %}*{% endif %}
                </label>
                {% if form_motorista.titulo_eleitoral.is_hidden %}
                    <p class="form-control-static">{{ form_motorista.titulo_eleitoral.value|upper }}<p>
                {% endif %}
                <br>{{ form_motorista.titulo_eleitoral }}
                {% if not form_motorista.titulo_eleitoral.is_hidden %}
                    <p class="help-block">{{ form_motorista.titulo_eleitoral.help_text }}</p>
                {% endif %}
                {% if form_motorista.titulo_eleitoral.errors %}
                    <label class="control-label" for="{{form_motorista.titulo_eleitoral.id_for_label}}">
                        {{form_motorista.titulo_eleitoral.errors.as_text}}
                    </label><br />
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 campo-modal">
            <div class="form-group{% if form_motorista.nome.errors %} has-error{% endif %}">
                <label for="{{form_motorista.nome.id_for_label}}">
                    {{ form_motorista.nome.label }}{% if form_motorista.nome.field.required %}*{% endif %}
                </label>
                {% if form_motorista.nome.is_hidden %}
                    <p class="form-control-static">{{ form_motorista.nome.value|upper }}<p>
                {% endif %}
                <br>{{ form_motorista.nome }}
                {% if not form_motorista.nome.is_hidden %}
                    <p class="help-block">{{ form_motorista.nome.help_text }}</p>
                {% endif %}
                {% if form_motorista.nome.errors %}
                    <label class="control-label" for="{{form_motorista.nome.id_for_label}}">
                        {{form_motorista.nome.errors.as_text}}
                    </label><br />
                {% endif %}
            </div>
        </div>
        <div class="col-md-5 campo-modal">
            <div class="form-group{% if form_motorista.endereco.errors %} has-error{% endif %}">
                <label for="{{form_motorista.endereco.id_for_label}}">
                    {{ form_motorista.endereco.label }}{% if form_motorista.endereco.field.required %}*{% endif %}
                </label>
                {% if form_motorista.endereco.is_hidden %}
                    <p class="form-control-static">{{ form_motorista.endereco.value|upper }}<p>
                {% endif %}
                {{ form_motorista.endereco }}
                {% if not form_motorista.endereco.is_hidden %}
                    <p class="help-block">{{ form_motorista.endereco.help_text }}</p>
                {% endif %}
                {% if form_motorista.endereco.errors %}
                    <label class="control-label" for="{{form_motorista.endereco.id_for_label}}">
                        {{form_motorista.endereco.errors.as_text}}
                    </label><br />
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 campo-modal">
            <div class="form-group{% if form_vistoria.alocacao.errors %} has-error{% endif %}">
                <label for="{{form_vistoria.alocacao.id_for_label}}">
                    {{ form_vistoria.alocacao.label }}{% if form_vistoria.alocacao.field.required %}*{% endif %}
                </label>
                {% if form_vistoria.alocacao.is_hidden %}
                    <p class="form-control-static">{{ form_vistoria.alocacao.value|upper }}<p>
                {% endif %}
                {{ form_vistoria.alocacao }}
                {% if not form_vistoria.alocacao.is_hidden %}
                    <p class="help-block">{{ form_vistoria.alocacao.help_text }}</p>
                {% endif %}
                {% if form_vistoria.alocacao.errors %}
                    <label class="control-label" for="{{form_vistoria.alocacao.id_for_label}}">
                        {{form_vistoria.alocacao.errors.as_text}}
                    </label><br />
                {% endif %}
            </div>
        </div>
        <div id="choice-alocacao-manual">
            <div class="col-md-3 campo-modal">
                <div class="form-group{% if form_vistoria.alocacao_manual.errors %} has-error{% endif %}"><br>
                    <label for="{{form_vistoria.alocacao_manual.id_for_label}}">
                        {{ form_vistoria.alocacao_manual.label }}{% if form_vistoria.alocacao_manual.field.required %}*{% endif %}
                    </label>
                    {% if form_vistoria.alocacao_manual.is_hidden %}
                        <p class="form-control-static">{{ form_vistoria.alocacao_manual.value|upper }}<p>
                    {% endif %}
                    {{ form_vistoria.alocacao_manual }}
                    {% if not form_vistoria.alocacao_manual.is_hidden %}
                        <p class="help-block">{{ form_vistoria.alocacao_manual.help_text }}</p>
                    {% endif %}
                    {% if form_vistoria.alocacao_manual.errors %}
                        <label class="control-label" for="{{form_vistoria.alocacao_manual.id_for_label}}">
                            {{form_vistoria.alocacao_manual.errors.as_text}}
                        </label><br />
                    {% endif %}
                </div>
            </div>
            <div id="div-equipe-manual" class="col-md-3 campo-modal" style="display: none">
                <div class="form-group{% if form_vistoria.equipe_manual.errors %} has-error{% endif %}">
                    <label for="{{form_vistoria.equipe_manual.id_for_label}}">
                        {{ form_vistoria.equipe_manual.label }}{% if form_vistoria.equipe_manual.field.required %}*{% endif %}
                    </label>
                    {% if form_vistoria.equipe_manual.is_hidden %}
                        <p class="form-control-static">{{ form_vistoria.equipe_manual.value|upper }}<p>
                    {% endif %}
                    {{ form_vistoria.equipe_manual }}
                    {% if not form_vistoria.equipe_manual.is_hidden %}
                        <p class="help-block">{{ form_vistoria.equipe_manual.help_text }}</p>
                    {% endif %}
                    {% if form_vistoria.equipe_manual.errors %}
                        <label class="control-label" for="{{form_vistoria.equipe_manual.id_for_label}}">
                            {{form_vistoria.equipe_manual.errors.as_text}}
                        </label><br />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="alocacao-por-equipe" style="display: none">
        <div class="row">
            <div class="col-md-3 campo-modal">
                <div class="form-group{% if form_vistoria.equipe.errors %} has-error{% endif %}">
                    <label for="{{form_vistoria.equipe.id_for_label}}">
                        {{ form_vistoria.equipe.label }}{% if form_vistoria.equipe.field.required %}*{% endif %}
                    </label>
                    {% if form_vistoria.equipe.is_hidden %}
                        <p class="form-control-static">{{ form_vistoria.equipe.value|upper }}<p>
                    {% endif %}
                    {{ form_vistoria.equipe }}
                    {% if not form_vistoria.equipe.is_hidden %}
                        <p class="help-block">{{ form_vistoria.equipe.help_text }}</p>
                    {% endif %}
                    {% if form_vistoria.equipe.errors %}
                        <label class="control-label" for="{{form_vistoria.equipe.id_for_label}}">
                            {{form_vistoria.equipe.errors.as_text}}
                        </label><br />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 campo-modal">
                <div class="form-group{% if form_vistoria.perfil.errors %} has-error{% endif %}">
                    <label for="{{form_vistoria.perfil.id_for_label}}">
                        {{ form_vistoria.perfil.label }}{% if form_vistoria.perfil.field.required %}*{% endif %}
                    </label>
                    {% if form_vistoria.perfil.is_hidden %}
                        <p class="form-control-static">{{ form_vistoria.perfil.value|upper }}<p>
                    {% endif %}
                    {{ form_vistoria.perfil }}
                    {% if not form_vistoria.perfil.is_hidden %}
                        <p class="help-block">{{ form_vistoria.perfil.help_text }}</p>
                    {% endif %}
                    {% if form_vistoria.perfil.errors %}
                        <label class="control-label" for="{{form_vistoria.perfil.id_for_label}}">
                            {{form_vistoria.perfil.errors.as_text}}
                        </label><br />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ form_motorista.id }}
    <input type="hidden" id="id_placa_veiculo_vist" name="placa_veiculo_vist" value="{{ veiculo.placa|upper }}">
    <button type="button" class="btn btn-primary pull-right" onclick="salva_vistoria($('#vistoria_veiculo_form').serialize(true))">Confirmar Vistoria</button>
</form>
<script type="text/javascript" src="{% static 'staticfiles_select2/select2/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'selectable_select2/js/jquery.dj.selectable.select2.js' %}"></script>
<script type="text/javascript" >
    $(document).ready(function(){
            alocacao_por_equipe($('#id_alocacao').val());
    });
</script>
