{% extends 'base.html' %}

{% block navbar %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'veiculos_index' %}">
                            {% block branding %}
                                Cadastro de Veículos - 29ª Zona Eleitoral
                            {% endblock %}
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'veiculos_index' %}"><span class="glyphicon glyphicon-home"></span>Página Inicial</a></li>
                            <li><a href="{% url 'acesso:orgao-atualizar' %}">Alterar Dados do Órgão</a></li>
                            <li><a href="{% if user.is_orgao %}{% url 'acesso:logout-veiculos' %}{% else %}{% url 'acesso:logout' %}{%endif%}">Sair</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
{% endblock %}

{% block titulo %}
    {% firstof user.nome_secretaria user.username user.first_name user.username %}
{% endblock %}