{% extends 'veiculos/perfil_veiculo/base.html' %}
{% load static from staticfiles %}
{% block extrabreadcrumb %}
    {{ block.super }}
    {% if form.instance.pk %}<li><a href="{% url 'perfil-veiculo:detalhar' perfil.pk %}">{{ perfil.nome|upper }}</a></li>{% endif %}
    <li>{% if form.instance.pk %}Editar{% else %}Cadastrar{% endif %}</li>
{% endblock %}

{% block container %}
   <form role="form" method="post" class="form-horizontal col-md-4"> {% csrf_token %}
    {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
             {% if field.errors %}<label class="control-label" for="{{field.id_for_label}}">{{field.errors.as_text}}</label><br />{% endif %}
            <label for="{{field.id_for_label}}">{{ field.label }}</label>
                {{ field }}
            <p class="help-block">{{ field.help_text }}</p>
        </div>
    
    {% endfor %}
    <div class="divisor"></div>
    <p class="botao-grupo">
    <button type="submit" class="btn btn-primary botao">Salvar</button>
    <button type="button" class="btn btn-default botao" onclick="window.location = '{% if form.instance.pk %}{% url 'perfil-veiculo:detalhar' form.instance.pk %}{% else %}{% url 'perfil-veiculo:listar' %}{% endif %}';">Cancelar</button>
    </p>
    </form>
    
{% endblock %}

{%block extrascripts %}
    <script src="{% static 'zona_eleitoral/js/misc/jquery_meio_mask.js' %}"></script>
    <script src="{% static 'zona_eleitoral/js/misc/glDatePicker/glDatePicker.js' %}"></script>
{% endblock %}
