{% extends 'base_modal.html' %}
{% block container %}

    <div class="row" style="padding:15px">
	    <strong>Órgão:</strong> {{veiculo.orgao.nome_secretaria|upper}} <br />
	    {% if veiculo.orgao.endereco %}<strong>Endereco do Órgão:</strong> {{veiculo.orgao.endereco|upper}} <br />{% endif %}
	    <strong>Responsável do Órgão:</strong> {{veiculo.orgao.responsavel|upper}} <br />
	    {% if veiculo.orgao.responsavel_info %}<strong>Responsável pela Informação:</strong> {{veiculo.orgao.responsavel_info|upper}} <br />{% endif %}
	    {% if veiculo.orgao.email %}<strong>E-mail:</strong> {{veiculo.orgao.email}} <br />{% endif %}
	    {% if veiculo.orgao.tel_celular %}<strong>Telefone celular:</strong> {{veiculo.orgao.tel_celular}}{% endif %}
	    {% if veiculo.orgao.tel_comercial %}<strong>Telefone comercial:</strong> {{veiculo.orgao.tel_comercial}}{% endif %}
	    {% if veiculo.orgao.tel_residencial %}<strong>Telefone residencial:</strong> {{veiculo.orgao.tel_residencial}}{% endif %}<br />
	</div>
    <table class="table table-bordered" >
            <tbody>
                <tr>
                    <td>
                            <label style="margin-bottom:3px;"><small>Placa</small></label>
                            <p class="form-control-static" style="padding:0;">{{ veiculo.placa|upper }}</p>
                    </td>
                    <td>
                            <label style="margin-bottom:3px;"><small>Marca</small></label>
                            <p class="form-control-static" style="padding:0;">{{ veiculo.marca|upper }}</p>
                    </td>
                    <td colspan="2">
                            <label style="margin-bottom:3px;"><small>Modelo</small></label>
                            <p class="form-control-static" style="padding:0;">{{ veiculo.modelo|upper }}</p>
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                            <label style="margin-bottom:3px;"><small>Ano</small></label>
                            <p class="form-control-static" style="padding:0;">{{ veiculo.get_ano }}</p>
                    </td>
                    <td width="30%">
                            <label style="margin-bottom:3px;"><small>Tipo de Veículo</small></label>
                            <p class="form-control-static" style="padding:0;">{{ veiculo.get_tipo|upper }}</p>
                    </td>
                    <td width="20%">
                        <label style="margin-bottom:3px;"><small>Lotação</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.lotacao }}</p>
                    </td>
                    <td width="40%">
                        <label style="margin-bottom:3px;"><small>Estado</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.get_estado|upper }}</p>
                    </td>
                </tr>
                {% if veiculo.observacao %}
                <tr>
                    <td colspan="4">
                        <label style="margin-bottom:3px;"><small>Observação</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.observacao|upper }}</p>
                    </td>
                </tr>
                {% endif %}
                <tr style="background-color:#EEE">
                    <td colspan="4">
                        <p class="form-control-static text-center" style="padding:0;"><strong>DADOS DO MOTORISTA</strong></p>
                    </td>
                </tr>
                {% if veiculo.motorista_titulo_eleitoral %}
                <tr>
                    <td colspan="2">
                        <label style="margin-bottom:3px;"><small>Nº Título Eleitoral</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.motorista_titulo_eleitoral }}</p>
                    </td>
                    <td colspan="2">
                        <label style="margin-bottom:3px;"><small>Nome</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.motorista_nome }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label style="margin-bottom:3px;"><small>Endereço</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.endereco }}</p>
                    </td>
                    <td>
                        <label style="margin-bottom:3px;"><small>Telefone Residencial</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.tel_residencial }}</p>
                    </td>
                    <td>
                        <label style="margin-bottom:3px;"><small>Telefone Celular</small></label>
                        <p class="form-control-static" style="padding:0;">{{ veiculo.tel_celular }}</p>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        <p class="form-control-static text-center" style="padding:0;">SEM MOTORISTA CADASTRADO</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

{% endblock %}