{% extends 'base.html' %}
 {% load static from staticfiles %}
  {% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'zona_eleitoral/css/misc/modal/modal.css' %}" />
 {% endblock %}
 
{% block container %}
<div class="row">
    <div class="col-md-3"><strong>Total de veículos: </strong>{{ veiculos|length }}</div>
    <div class="col-md-9">
        <button type="button" class="btn btn-default botao"
            style="float:right" onclick="window.location = '{% url 'veiculo:cadastrar' %}';">
            Cadastrar Novo Veículo
        </button>
    </div>
</div>

  <table class="table table-striped" id="tabela-veiculo">
  <thead>
  <tr>
    <th width="11%">Placa</th>
    <th>Veículo</th>
    <th width="6%">Ano</th>
    <th>Motorista</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for veiculo in veiculos %}
  <tr>
    <td>{{ veiculo.placa|upper }}</td>
    <td>{{ veiculo.marca }} {{ veiculo.modelo }}</td>
    <td>{{veiculo.get_ano}}</td>
    <td>{% firstof veiculo.motorista_nome 'Não cadastrado' %}</td>
    <td class="botoes">
    <div class="btn-group btn-group-xs"  style="float:right;">
    	<a href="{{veiculo.get_absolute_url}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span>Editar</a>
    	<a href="{% url 'veiculo:excluir' veiculo.pk %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>Excluir</a>
    </div>
    </td>
    
  </tr>
  {% endfor %}
  </tbody>
</table>


    
{% endblock %}

{%block extrascripts %}
    <script src="{% static 'veiculos/js/classes/Veiculo.js' %}"></script>
	<script src="{% static 'veiculos/js/veiculo/index.js' %}"></script>
{% endblock %}
