{% extends 'base.html' %}
 {% load static from staticfiles %}
  {% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'zona_eleitoral/css/misc/modal/modal.css' %}" />
 {% endblock %}
 
{% block container %}
<form id="form-filtro" method="GET">
<div class="row">
    <div class="col-md-3">
        <strong>Total de veículos: </strong>{{ filtro.qs.count }} <br />
        <strong>Total de veículos com motorista: </strong>{{ total_com_motorista }} <br />
        <strong>Total de veículos sem motorista: </strong>{{ total_sem_motorista }} <br />
        
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="{{form.orgao.id_for_label}}">{{ form.orgao.label }}</label>
            {{ form.orgao }}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="{{form_pagina.num_por_pagina.id_for_label}}">{{ form_pagina.num_por_pagina.label }}</label>
            {{ form_pagina.num_por_pagina }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
	    <table class="table table-striped" id="tabela-veiculo">
	        <thead>
	            <tr>
	                <th width="10%">Placa</th>
	                <th width="33%">Veículo</th>
	                <th width="6%">Ano</th>
	                <th width="10%">Tipo</th>
	                <th width="6%">Estado</th>
	                <th width="10%">Motorista</th>
	                <th width="25%">Órgão Público</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for veiculo in veiculos %}
	            <tr>
	                <td>{{veiculo.placa|upper }}</td>
	                <td>{{veiculo.veiculo_with_popover|safe}}</td>
	                <td>{{veiculo.get_ano}}</td>
	                <td>{{veiculo.get_tipo}}</td>
	                <td>{{veiculo.get_estado}}</td>
	                <td class="text-center"><span class="glyphicon 
	                   glyphicon-{% if veiculo.motorista_titulo_eleitoral  %}ok color-green{% else %}remove color-red{% endif %}"></span>
	                </td>
	                <td>
	                    {{veiculo.orgao}}
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
		
		<ul class="pager">
	    {% if veiculos.has_previous %}
	        <li class="previous"><a href="javascript:void(0);">&larr; Anterior</a></li>
	    {% endif %}
	        <li>
	            Página <input type="number" value="{{veiculos.number}}"
	                style="width:40px;" min="1" max="{{veiculos.paginator.num_pages}}"
	                name="pagina" id="pagina"
	                onchange="form.submit();"/> de {{veiculos.paginator.num_pages}}
	        </li>
	    {% if veiculos.has_next %}
	        <li class="next"><a href="javascript:void(0);">Próxima &rarr;</a></li>
	    {% endif %}
	    </ul>
    </div>
    <div class="col-md-2 col-filtro">
        <h3>Filtrar por:</h3>
         
        <div class="form-group">
        {% for field in filtro.form %}
            <label for="{{field.id_for_label}}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        </div>
        
    </div>
</div>
</form>
    
{% endblock %}

{%block extrascripts %}
    <script>
    $(document).ready(function(){
        $('#id_orgao').change(function(){
            var url;
            if($(this).val()=='')
                url = '/veiculos/veiculo/listar/';
            else
                url = '/veiculos/veiculo/listar/' + $(this).val() + '/';
            $('#pagina').val(1);
            location.href = url + '?' + $('#form-filtro').serialize();
        });
        $('#id_estado, #id_ano, #id_tipo, #id_motorista, #id_num_por_pagina').change(function(){
            $('#pagina').val(1);
            $('#form-filtro').submit();
        });
        $(".previous").click(function(){
            {% if veiculos.has_previous %}
            $('#pagina').val({{ veiculos.previous_page_number }});
            {% endif %}
            $('#form-filtro').submit();
        });
        $(".next").click(function(){
            {% if veiculos.has_next %}
            $('#pagina').val({{ veiculos.next_page_number }});
            {% endif %}
            $('#form-filtro').submit();
        });
    });
    
    
    </script>	

{% endblock %}
