<div class="modal fade" id="modal-requisicao-veiculo" role="dialog" aria-labelledby="modal-requisicao-veiculo-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-requisicao-veiculo-title">Requisição do Veículo</h4>
            </div>
            <div class="modal-body">
                <p id="requisicao-veiculo-txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Dajaxice.veiculos.requisicao_veiculo(Dajax.process, {'id_veiculo':$('#id_id_veiculo').val(), 'formulario': $('#requisicao_veiculo_form').serialize(true)})">Salvar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
