{% extends 'base.html' %}
 {% load static from staticfiles %}
  {% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'zona_eleitoral/css/misc/modal/modal.css' %}" />
 {% endblock %}
 
{% block container %}

<div class="row">
  <button type="button" class="btn btn-default botao"
  style="float:right" onclick="window.location = '{% url 'eleicao:cadastrar' %}';">
  	Cadastrar Nova Eleição
  </button>
</div>
  <table class="table table-striped" id="tabela-eleicao">
  <thead>
  <tr>
    <th>Eleição</th>
    <th>Data do 1º turno</th>
    <th>Data do 2º turno</th>
    <th>Atual</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for eleicao in eleicoes %}
  <tr>
    <td>{{eleicao.nome}}</td>
    <td width="20%">{{eleicao.data_turno_1}}</td>
    <td width="20%">{{eleicao.data_turno_2}}</td>
    <td width="10%">{% if eleicao.atual %}<span class="glyphicon glyphicon-ok"></span>{%endif%}</td>
    <td class="botoes" width="15%">
    <div class="btn-group btn-group-xs"  style="float:right;">
    	<a href="{{eleicao.get_absolute_url}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span>Editar</a>
    	<a href="javascript:void(0);" data-id="{{eleicao.id}}" class="btn btn-danger btn-xs delete"><span class="glyphicon glyphicon-trash"></span>Excluir</a>
    </div>
    </td>
    
  </tr>
  {% endfor %}
  </tbody>
</table>


    
{% endblock %}

{%block extrascripts %}
	<script src="{% static 'eleicao/js/eleicao/index.js' %}"></script>
{% endblock %}
