{% extends 'base.html' %}
 {% load static from staticfiles %}
 
{% block container %}
<div class="row">
  <div class="col-md-4 col-md-offset-8"><button type="button" class="btn btn-default botao" style="float:right" onclick="javascript:void(0);">Cadastrar Nova Eleição</button></div>
</div>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Eleição</th>
    <th>Data do 1º turno</th>
    <th>Data do 2º turno</th>
    <th>Atual</th>
  </tr>
  </thead>
  <tbody>
  {% for eleicao in eleicoes %}
  <tr>
    <td>{{eleicao.nome}}</td>
    <td>{{eleicao.data_turno_1}}</td>
    <td>{{eleicao.data_turno_2}}</td>
    <td>{% if eleicao.atual %}<span class="glyphicon glyphicon-ok"></span>{%endif%}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
    
{% endblock %}

{%block extrascripts %}
{% endblock %}
