{% extends 'eleicao/equipe/base.html' %}
{% load static from staticfiles %}
{% block extrabreadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'equipe:detalhar' equipe.pk %}">{{ equipe.nome|upper }}</a></li>
    <li>estimativa</li>
{% endblock %}
{% load extra_tags %}
{% block container %}
    <div class="row">
        <h3>{{ perfil_veiculo.nome|upper }}{% if local %} - {% endif %}{% firstof local '' %} ({{ equipe.nome|upper }})</h3>
    <h3>{% if segundo_turno == 'True' %}2{% else %}1{% endif %}º Turno</h3>
    </div>
    <form role="form" method="post" class="form-horizontal"> {% csrf_token %}
        {% for field in form %}
            <div class="row">
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="form-group col-md-6{% if field.errors %} has-error{% endif %}">
                    {% if field.errors %}<label class="control-label" for="{{field.id_for_label}}">{{field.errors.as_text}}</label><br />{% endif %}
                    <label for="{{field.id_for_label}}">{{ field.label }}</label>
                    {{ field }}
                    <p class="help-block">{{ field.help_text }}</p>
                </div>
            {% endif %}
            </div>

        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <strong>Total de Veiculos: </strong> {{ total_veiculos }}<br />
                <strong>Veículos já estimados: </strong> <span id="veiculos_alocados">{{ veiculos_alocados }}</span><br />
                <strong>Veículos restantes: </strong> <span id="veiculos_restantes">{{ total_veiculos|diferenca:veiculos_alocados }}</span><br />
                <strong>Total de Veiculos estimados na Equipe: </strong> <span id="veiculos_alocados_equipe">
                {% if segundo_turno %}
                    {{ equipe.total_veiculos_estimados_turno2 }}
                {% else %}
                    {{ equipe.total_veiculos_estimados_turno1 }}
                {% endif %}</span><br />
            </div>
        </div>
        <div class="divisor"></div>
        <p class="botao-grupo">
            <button type="submit" class="btn btn-primary botao">Salvar</button>
            <button type="button" class="btn btn-default botao" onclick="window.location = '{% if segundo_turno == 'True' %}{% url 'equipe:detalhar-estimativa2' equipe.pk %}{% else %}{% url 'equipe:detalhar-estimativa1' equipe.pk %}{% endif %}';">Cancelar</button>
        </p>
    </form>

{% endblock %}

{%block extrascripts %}
    <script src="{% static 'zona_eleitoral/js/misc/jquery_meio_mask.js' %}"></script>
    <script src="{% static 'zona_eleitoral/js/misc/glDatePicker/glDatePicker.js' %}"></script>
    <script>
        $(document).ready(function(){
            var total = {{ veiculos_alocados }} - {{ alocacao.quantidade }};


            $('#id_quantidade').change(function(){
                var valor = $(this).val()?parseInt($(this).val()):0;
                $('#veiculos_alocados').text(total + valor);
                var total_atual = parseInt($('#veiculos_alocados').text());
                $('#veiculos_restantes').text({{ total_veiculos }} - total_atual);
            });
            $('#id_quantidade').keyup(function(event){
                $('#id_quantidade').trigger('change');
            });
            $('#id_quantidade').trigger('change');
        });

    </script>
{% endblock %}
